:root {
    --background-color: #fff;
    --success-color: #27B274;
    --error-color: #FF8080;
    --error-background-color: #ED5F591A;
    --plain-text-color: #151D51;

    --heading-text-size: 1.75rem;
    --plain-text-size: 1rem;
    --small-text-size: 0.8rem;

    --font-normal-weight: 400;
    --font-bold-weight: 700;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

.main {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background: url('/Group.svg') center 130px,
    linear-gradient(167.96deg, #F4F9FF 0%, #E0EDFB 100%);
    background-repeat: no-repeat;
}

@media screen and (min-width: 375px) {
    .main {
        background: url('/Group.svg') no-repeat center 70px,
        linear-gradient(167.96deg, #F4F9FF 0%, #E0EDFB 100%);
    }
}

@media screen and (min-width: 390px) {
    .main {
        background: url('/Group.svg') no-repeat center 155px,
        linear-gradient(167.96deg, #F4F9FF 0%, #E0EDFB 100%);
    }
}

@media screen and (min-width: 414px) {
    .main {
        background: url('/Group.svg') no-repeat center 185px,
        linear-gradient(167.96deg, #F4F9FF 0%, #E0EDFB 100%);
    }
}

@media screen and (min-width: 430px) {
    .main {
        background: url('/Group.svg') no-repeat center 200px,
        linear-gradient(167.96deg, #F4F9FF 0%, #E0EDFB 100%);
    }
}

input:-webkit-autofill {
    box-shadow: inset 0 0 0 100px var(--background-color);
}

.sing_up {
    font-size: var(--heading-text-size);
    font-weight: var(--font-bold-weight);
    line-height: 28px;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
}

.main_form {
    width: 315px;

    /*background-size: cover;*/
    /*background-image: url('/Group.svg');*/
    /*background-position: center;*/
}

.button_wrapper {
    text-align: center;
}

.rules {
    margin-bottom: 40px;
    margin-left: 20px;
}
